<div data-role="header" class="header">
 <nav data-role="navbar" data-grid-"d">
  <ul>
    <li><a href="https://ucsb-cs64-f18.github.io"> {{site.course}} </a></li>
    <li><a href="/" class="ui-btn-active">{{site.course}} {{site.qtr}}</a></li>
  </ul>
 </nav>
 <nav data-role="navbar" data-grid-"d">
  <ul>
   <li><a href="https://gauchospace.ucsb.edu/courses/course/view.php?id=31415">Gauchospace</a></li>
   <li><a href="https://piazza.com/ucsb/fall2018/cs64/">Piazza</a></li>
  </ul>
 </nav>
 {% if page.layout == "hwk" %}
 <nav data-role="navbar" data-grid-"d">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}
</div>
